/* -- GENERAL HEADER -- */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-behavior: smooth;

    h1 {
        text-transform: uppercase;
    }
}


/* -- HEADER TITLE -- */

#header_title {
    background-color: #337357;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -- MENU -- */ 

nav {
    background-color: #333333;
    z-index: 10000;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        li {
            padding: 1em;
        }
    }

    #responsive_menu {
        display: none;
        text-align: center;

        i{
            font-size: 1.5em;
            margin: 0.5em;
            cursor: pointer;
        }

        .fa-times {
            display:none;
            
        }
        #list_menu {
            display: none;
            text-align: center;
            margin-top: 0;

            li {
                margin: 0.5em;
            }
        }
    }

}


.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}


/* -- RESPONSIVE MENU -- */

@media(max-width: 768px) {
    nav {
        #menu {
            display: none;
        }

        #responsive_menu {
            display: block
        }
    }
}

.button_active {
    background-color: #75B9B4;
}