/* -- GENERAL CONTENT -- */

section {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6em;
    padding-top: 4em;

    h2 {
        padding: 1em 1.5em;
        border-radius: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    h3 {
        margin-bottom: 2em;
    }
}

.blue_back {
    background-color: #80cbc6;

}

.white_back {
    background-color: #FAF9F9;
}


/* -- ABOUT SECTION -- */

#photo_text {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 25em;
    }

    #about_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
}


/* -- SKILLS SECTION -- */

#skills {

    #list_skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        .category {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em 0;

            .logo {
                display: flex;
                width: 99%;
                justify-content: center;
                flex-wrap: wrap;

                .logo_title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 2em;
                    margin-right: 2em;
                }
            }

            .skill_name {
                visibility: hidden;
            }

            p {
                margin-bottom: 0;
                margin-top: 0.5em;
            }

            img {
                height: 3em;
                z-index: 500;
            }

            img:hover {
                animation: bounce 0.5s ease infinite alternate;


                @keyframes bounce {
                    from {
                        transform: translateY(0);
                    }

                    to {
                        transform: translateY(-20px);
                    }
                }
            }

        }
    }
}



/* -- SCHOOLING AND EXPERIENCE SECTIONS -- */

#schooling,
#experience {

    h2 {
        margin-bottom: 0;
    }

    ul {
        padding: 0;

        li {
            margin-top: 3em;
        }
    }
}


/* -- ACHIEVEMENTS SECTION -- */

#achievement {

    #achievs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .project_description {
            width: 20em;
            height: 10em;
            position: relative;
            margin: 2em;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

            }



            .achiev_text {
                opacity: 0;
                position: absolute;
                top: 0;
                height: 10em;
                width: 100%;
                text-align: center;
                display: flex;
                transition: all ease 0.8s;
                background-color: black;

                p {
                    font-size: 0.9em;
                    width: 80%;
                    margin: auto;
                    color: white;
                }
            }
        }
    }
}



/* -- HOBBIES SECTION -- */

#hobbies {
    padding-bottom: 3em;

    #pictures {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1em;

        .pictures_bloc {
            display: flex;
            justify-content: space-around;
            width: 50%;

            .picture_animation {
                position: relative;

                img {
                    width: 15em;

                }

                .text_bloc {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    transition: all ease 0.8s;
                    background-color: black;

                    p {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 0.9em;
                        width: 80%;
                        margin: auto;
                        color: white;
                    }
                }
            }
        }
    }
}


/* -- CONTACT SECTION -- */

#contact {
    #contact_categories {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .contact_category {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img:hover {
                animation: bounce 0.35s ease infinite alternate;


                @keyframes bounce {
                    from {
                        transform: translateY(0);
                    }

                    to {
                        transform: translateY(-20px);
                    }
                }
            }

            #envelope {
                cursor: pointer;
            }

            #mail {
                visibility: hidden;
                color: black;
            }

            #mail:hover {
                color: #808782;
            }

            #find_logo {
                width: 70%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

}


/* UP CHEVRON */

.fa-chevron-circle-up {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
    z-index: 9999;
    color: #337357;
    visibility: hidden;
}

.overflow {
    overflow: hidden;
}

/* RESPONSIVE DESIGN */

@media(max-width: 1100px) {


    #hobbies {
        #pictures {
            flex-direction: column;
            justify-content: space-around;
            align-items: space-around;
            width: 100%;

            .pictures_bloc {
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }

}


@media(max-width: 768px) {
    #about {
        #photo_text {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }

            #about_text {
                width: 90%;
            }
        }
    }


    #schooling,
    #experience {
        ul {
            width: 90%;

            li {
                font-size: 0.8em;
            }
        }
    }

    #achievement {
        h2 {
            margin-bottom: 0;
        }

        #achievs {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    #contact {
        #contact_categories {
            .contact_category {
                #find_logo {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}


@media(max-width: 576px) {
    #achievement {
        #achievs {
            .project_description {
                width: 18em;
            }
        }
    }

    #contact {
        margin-bottom: 1em;

        #contact_categories {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .contact_category {
                width: 100%;
                margin-top: 1em;

                #find_logo {
                    justify-content: space-around;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}